* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --verde-color: #04da36;
    --tierra-color: #29211e;
    --azul-color: #0e0e6a;
    --plata-color: #e7e9e9;
    --negro-color: #0e0e0e;
}
/* ===== UTILITIES ===== */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background: var(--negro-color);
    
}
/* GLOBAL */
.section-container {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 100px 60px;
}
/* ENDGLOBAL */
.body-container {
    display: flex;
    flex-direction: column;
}
a {
   text-decoration: none;
   color: inherit;
}
/* NAVBAR */
.mainNavbar {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: var(--plata-color);
    z-index: 100;
}
.navSection {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px var(--verde-color);
}
.logo {
    font-size: 42px;
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--verde-color);
}
.navSection > ul {
    display: flex;
    gap: 1.5vw;
    list-style: none;
}
.nav-item{
    border: 1px solid var(--plata-color);
    border-radius: 1.5vw;
    padding: 1vw;
    background-color: var(--negro-color);
    transition: background-color 0.4s ease, border 0.4s ease, border-radius 0.4s ease;
}
.nav-item:hover {
    background-color: var(--verde-color);
    border: 1px solid #04da3674;
    text-shadow: 2px 2px 4px var(--negro-color);
}
/* ==== HERO SECTION ==== */
.index-hero {
    width: 100%;
    position: relative;
    top: 10vh;
    color: var(--plata-color);
    padding: 2vw;
    overflow: hidden;
}
.index-plane {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(4, 250px);
    grid-gap: 1.8vw;
    width: 100%;
}
.index-box {
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    border-radius: 1.5vw;
    text-align: center;
    transition: transform 0.5s ease;
}
.index-box:hover {
    transform: perspective(1000px) rotateX(-1.5deg) rotateY(0deg);
}
.index-plane .index-box:nth-of-type(1) {
    grid-column: 1 / 4;
    grid-row:1 / 3;
    background-image: url('/static/images/somosofi.jpg');
    background-size: cover; 
    background-position: center;
    border: 2px solid var(--verde-color);
    text-shadow: 8px 2px 4px var(--negro-color);
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
}
.index-plane .index-box:nth-of-type(2) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    gap: 0.5vh;
    border: 2px solid var(--verde-color);
    background: var(--tierra-color);
    background-image: url('/static/images/trash-1.svg');
    background-size: 11vw; 
    background-repeat: no-repeat;
    background-position: bottom right;
}
.index-plane .index-box:nth-of-type(3) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    border: 2px solid var(--verde-color);
    background-color: var(--tierra-color);
    background-image: url('/static/images/campaign-1.svg');
    background-size: 18vw; 
    background-repeat: no-repeat;
    background-position: bottom left;
}
.index-plane .index-box:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    gap: 2vh;
    align-items: center;
    justify-content: center;
    background-color: var(--tierra-color);
    border: 2px solid var(--verde-color);
}
.index-plane .index-box:nth-of-type(5) {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    border: 2px solid var(--verde-color);
    background-color: var(--tierra-color);
    background-image: url('/static/images/rewards-1.svg');
    background-size: cover; 
    background-position: center;
}

/* Media Queries INDEX PAGE */
@media (max-width: 768px) {
    .navSection > ul {
        display: flex;
        gap: 2.5vw;
        list-style: none;
    }
    .index-hero {
        top: 80px;
        padding: 10px;
    }
    .index-plane {
        height: 143vh;
        padding: 10px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 220px);
        grid-template-rows: repeat(auto-fit, 200px);
        grid-gap: 1.5vw;
    }
    .index-box {
        padding: 5px;
    }
    .index-plane .index-box:nth-of-type(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        font-size: 25px;
        font-weight: bold;
    }
    .index-plane .index-box:nth-of-type(1) h1 {
        width: 96%;
        text-wrap: wrap;
    }
    .index-plane .index-box:nth-of-type(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        gap: 0.5vh;
        background-image: url('/static/images/trash-1.svg');
        background-size: 110px; 
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    .index-plane .index-box:nth-of-type(3) {
        grid-column: 2 / 3 ;
        grid-row: 2 / 3;
        background-color: var(--tierra-color);
        background-size: 178px; 
        background-repeat: no-repeat;
        background-position: bottom left;
    }
    .index-plane .index-box:nth-of-type(4) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        gap: 2vh;
        align-items: center;
        justify-content: center;
        background-color: var(--tierra-color);
        border: 2px solid var(--verde-color);
    }
    .index-plane .index-box:nth-of-type(5) {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        border: 2px solid var(--verde-color);
        background-color: var(--tierra-color);
        background-image: url('/static/images/rewards-1.svg');
        background-size: contain;
        background-repeat: no-repeat; 
        background-position: center;
    }
}
