{% extends 'somoseco/layout.html' %}

{% block body %}
    <section class="index-hero">
        <div class="index-plane">
            <div class="index-box">
                <h1>The power of community</h1>
            </div>
            <div class="index-box">
                <h3>Explore Needs in your Community</h3>
                <p>Find, highlight, or propose issues that require attention in your local area.</p>
            </div>
            <div class="index-box">
                <h3>Create a Campaign</h3>
                <p>Form a team by inviting community members to join efforts in solving the identified issue.</p>
            </div>
            <div class="index-box">
                <h3>Collaborate and Tackle</h3>
                <p>Join forces with your campaign team to address the issue. Work together, follow the guidelines, and make a positive impact in your community.</p>
            </div>
            <div class="index-box"></div>
        </div>
    </section>
{% endblock %}