{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>SOMOS {% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="{% static 'somoseco/styles.css' %}">
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <nav class="mainNavbar">
            <a class="logo" href="{% url 'somoseco:index' %}">SOMOS</a>
            <div class="navSection">
                <ul>
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'somoseco:profile' user_id=user.id %}">
                            <li class="nav-item">
                                <strong>{{ user.username }}</strong>
                            </li>
                        </a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'somoseco:index' %}">
                            <li class="nav-item">
                                Campaigns
                            </li>
                        </a>    
                        <a class="nav-link" href="{% url 'somoseco:logout' %}">
                            <li class="nav-item">
                                Log Out
                            </li>
                        </a>
                    {% else %}
                    <a class="nav-link" href="{% url 'somoseco:login' %}">
                        <li class="nav-item">
                            Log In
                        </li>
                    </a>
                    <a class="nav-link" href="{% url 'somoseco:signup' %}">
                        <li class="nav-item">
                            Sign Up
                        </li>
                    </a>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main class="body-container">
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>