{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>SOMOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'somoseco/styles.css' %}">
    </head>
    <body>
        <nav class="mainNavbar">
            <a clas="logo" href="{% url 'index' %}">SOMOS</a>
            <div class="navSection">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="body">
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>