{% extends "somoseco/layout.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'somoseco/styles_login.css' %}">
{% endblock %}


{% block body %}
    <section class="section-container">
        <div class="header">
            <h2>Log in</h2>
            {% if message %}
                <h4 class="alert">{{ message }}</h4>
            {% endif %}
        </div>
        <form action="{% url 'somoseco:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" autofocus type="text" name="username" id="username" placeholder="JohnDoePro99 *">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password *">
            </div>
            <div class="last-box">
                <div>
                    <p>Don't have an account yet?</p> <a href="{% url 'somoseco:signup' %}">Sign Up In here.</a>
                </div>
                <input class="btn-submit" type="submit" value="Login">
            </div>
        </form>
    </section>
{% endblock %}


