{% extends "somoseco/layout.html" %}
{% load static %}

{% block title %}
    {{ user }}
{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'somoseco/styles_profile.css' %}">
{% endblock %}

{% block body %}
    <section class="section-container">
        <div class="user-card">
            <div class="img-box">
                <img class="user-avatar" src="/static/images/default-avatar.png" alt="BAYC default pfp image">
            </div>
            <div class="user-info">
                <div class="controls">
                    <button class="tip-button">Tip <i class="bi bi-cash-stack"></i></button>
                    <button class="edit-profile-button">Edit Profile <i class="bi bi-pencil-square"></i></button>
                    <div class="stats">
                        <i class="bi bi-megaphone"></i>
                        <p>Completed Campaigns: 2</p>
                    </div>
                    <div class="stats">
                        <i class="bi bi-vinyl"></i>
                        <p>Eco Points: 185</p>
                    </div>
                    <div class="stats">
                        <i class="bi bi-balloon"></i>
                        <p>Joined June 2024</p>
                    </div>
                </div>
                <div class="names">
                    <h3>Alan Duran</h3>
                    <h3>@Deeznode</h3>
                </div>
                <div class="bio">
                   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui quod quae dolore ad est, beatae quasi quas commodi dolorem reiciendis nesciunt quam sed sapiente maxime. Deleniti assumenda quam commodi voluptatibus.</p>
                </div>
            </div>
        </div>
        <div class="user-feed">
            <div class="campaign">
                <div class="campaign-header">
                    <div style="width: 230px; height: 230px; border: 1px solid purple;"></div>
                    <div>
                        <h3>Save the Bees</h3>
                        <p>by @Deeznode</p>
                    </div>
                </div>
                <div class="campaign-body">
                    <ul class="info">
                        <li>Complexity: 4</li>
                        <li>City: Santiago de Cali</li>
                        <li>Location: 3.366493, -76.532673</li>
                        <li>Creation Date: 6/16/2024</li>
                        <li>Last Update: 6/16/2024</li>
                    </ul>
                    <div class="campaign-description">
                        <h4>Description:</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}